@import url('./basics.css');
@import url('./format.css');

body {
   color: #ffffffff;
}

#story {
   height: 140px;
   width: 566px;
   border: 6px solid #ffffffff;
}

#story-face {
   height: 140px;
}

#story-face > img {
   margin: 25px auto;
   height: 90px;
   image-rendering: pixelated;
   image-rendering: -moz-crisp-edges;
   image-rendering: -webkit-optimize-contrast;
   -ms-interpolation-mode: nearest-neighbor;
}

#story-text {
   font-family: 'Determination';
   font-size: 30px;
   margin: 18px;
   text-align: left;
   width: calc(100% - 36px);
   height: calc(100% - 36px);
   word-wrap: normal;
}
